body {
    text-align: center;
}

.nav{
	background-color: rgb(220, 227, 232);
}


#jumbotron-header {
    display: flex;
    justify-content: center;  
    align-items: center;
}

#jumbotron-header img {
    width: 100%;
    max-height: 600px;
}

#jumbotron-header #text {
	padding: 5% 5%;
	border-radius: 10px; 
	color: rgb(255, 255, 255); 
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}

.cookies-body {
    padding: 15px 15px;
}

.cookies-body .row{
	padding-top: 15px;
}


.cookie-item {
    align-self: center;
}


.about-us {
    text-align: center;
    padding: 20px 20px;
    background-color: rgb(191, 191, 191);
}


.about-us #text {
    text-align: left;
}


.address {
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 154, 255);
}

